

a(href='google.de', target='_blank', title='Google') Google

a(href='google.de' target='_blank' title='Google') Google

a(
    href="google.de"

        target  =
            '_blank',

title = Google)
    | Google