

block content

block scripts


block content
    h2 My Content
    p This is my content

append content
    p This is also content

prepend content
    h1 This will be the main header!

append scripts
    script(src='script2.js')

replace scripts
    script(src='script3.js')

prepend scripts
    script(src='script1.js')
    script(src='script2.js')