if $something
    p Do something
else
    p Do something else

unless $error
    p.success Success!

if 1
    p It's one!
else if 2
    p It's two!
elseif 3
    p It's three!
else
    p It's anything else!