mixin table(searchQuery, page= 0, amount= 100, order= 'id:asc')
    table
        //... something
        thead: tr
        	th= $searchQuery
        	th= $order
        	th= $amount
        	th= $page

+table('search query', order='id:desc')