

a This is normal text

p
    | Nested text needs a | prefix
    | or the first word will end up
    | as the tag.

p.
    Make a text-block with a dot (.).

    This text can span
    over multiple lines freely.



script.

    no.need();
    to.prepend('anything');