//- != $view->Html->link('Sign In', ['controller' => 'Users', 'action' => 'login'])
a!=$view->Html->image('logo.png')

- $view->Html->scriptStart(['block' => 'add_script']);
|
	alert('hi browser');
- $view->Html->scriptEnd();